# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/digito-ui/node_modules/**
/digito-ui/.pnp
/digito-ui/.pnp.js
/digito-ui/package-lock.json
/digito-api/.env/**

# testing
/coverage

# production
/digito-ui/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea/
*.iml
